<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ec.edu.epn.proyecto2">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".listarbuses">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBAHjoa9nMXD6VR74OkcE0yWkW3YdumIPo" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".mapa2" />
        <activity android:name=".flujo" />
        <activity android:name=".crearbus" />
        <activity android:name=".mapa_fiscalizador"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".requisitosbus"/>
        <activity android:name=".estadobuses">

        </activity>
    </application>

</manifest>